beautifulsoup4==4.13.4
chardet==5.2.0
datasets==3.6.0
GitPython==3.1.44
html2text==2024.2.26
javalang==0.13.0
libclang==18.1.1
neo4j==5.28.1
numpy==1.26.4
openai==1.67.0
pandas==2.2.3
pylcs==0.1.1
PyGithub==2.6.1
python-dotenv==1.1.0
requests==2.32.3
torch==2.3.1
transformers==4.40.0
tree-sitter==0.25.2
tree-sitter-systemverilog==0.3.1
unidiff==0.7.5
